<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/rosterPhotos/stylesheets/style.css" media="all">
    <meta name="viewport" content="width=device-width">
    <script src="/javascripts/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <h1>Roster Photos</h1>
    <p>Roster photos are drawn from SFU ID photos system.</p>
    <table class="rosterTable">
      <tbody>
        <% rows.forEach(function(row) { %>
          <% include row %>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
