<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/rosterPhotos/stylesheets/style.css">
    <meta name="viewport" content="width=device-width">
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/rosterPhotos/javascripts/spin.min.js"></script>
    <base target="_parent" />
  </head>
  <body data-courseId="<%= course.custom_canvas_course_id %>">
    <h1>Roster Photos</h1>
    <p>Roster photos are drawn from the SFU ID photos system.</p>
    <div id="spinner"></div>
    <table class="rosterTable">
      <tbody></tbody>
    </table>
    <script src="/rosterPhotos/javascripts/rosterPhotos.js"></script>
  </body>
</html>
