<%
    var courseName = [ data.course[1].toUpperCase(), data.course[2] ].join(' ') + ' &ndash; ' + data.term.name;
%>
<!DOCTYPE html>
<html>
  <head>
    <title>Course Description</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/courseDescription/stylesheets/style.css' />
  </head>
  <body>
    <h1>No Course Description Found</h1>
    <p>Sorry, but we could not locate a course description in the <a href="http://www.sfu.ca/calendar" target=_blank>SFU Academic Calendar</a> for <%=courseName %>. Please note that this feature is only available for Fall 2013 and later courses.</p>
    <p>If you believe this is in error, please contact your department&apos;s program chair.</p>
    <p>Click the <strong>[X]</strong> button in the upper-right corner or press Escape to return to the editor.</p>
  </body>
</html>