<!DOCTYPE html>
<html>
  <head>
    <title>Course Description</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/courseDescription/stylesheets/style.css' />
  </head>
  <body>
    <h1>No Course Description Found</h1>
    <p>This course does not appear to be a credit SFU course and thus does not appear in the SFU Academic Calendar.</p>
    <p>If you believe this is in error, please contact your department program chair.</p>
    <p>Click the <strong>[X]</strong> button in the upper-right corner or press Escape to return to the editor.</p>
  </body>
</html>