body {
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size: 75%;
    color: #333;
    padding-left: 10px;
}

h1, h2 {
    font-size: 1.8em;
    margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #444;
}

a {
    color: #396eb2;
    text-decoration: none;
}