<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraryReserves/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <h1>Library Reserves for <%= course.context_title %></h1>
    <% include support_contact %>
    <% if (data.length === 0) { %>
        <p>There are no items on reserve for this course.</p>
    <% } else { %>
            <% data.forEach(function(item) { %>
                <% include reserve_item %>
            <% }) %>
    <% } %>
    <script src="libraryReserves/javascripts/imgreplacer.js"></script>
  </body>
</html>
