<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraryReserves/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width">
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <h1>Library Reserves for <%= course.context_title %></h1>
    <% include support_contact %>
    <% if (data.length === 0) { %>
        <p>There are no items on reserve for this course.</p>
    <% } else { %>
            <% data.forEach(function(item) { %>
                <% include reserve_item %>
            <% }) %>
    <% } %>
    <script src="libraryReserves/javascripts/imgreplacer.js"></script>
    <script>
      $(function(){
         parent.postMessage(JSON.stringify({subject: 'lti.frameResize', height: $(document).height()+"px"}), '*');
       });
    </script>
  </body>
</html>
