h1 {
    font-size: 2em;
}

.rosterTable {
    width: 100%;
}

.rosterTable td {
    width: 25%;
}
.rosterImage {
    width: 200px;
    height: 255px;
    margin: 0 auto;
}

.studentInfo {
    text-align: center;
}

@media (max-width: 480px) {
    .rosterTable tr {
        display: block;
    }

    .rosterTable td {
        display: block;
        width: 100%;
    }
}
